n8n-workflow-example.json
{
  "name": "Dhivehinoos Comment Webhook Workflow",
  "nodes": [
    {
      "parameters": {
        "webhookSecret": "",
        "processCommentData": true,
        "extractArticleInfo": true,
        "extractCategoryInfo": true
      },
      "id": "webhook-node",
      "name": "Dhivehinoos Comment Webhook",
      "type": "dhivehinoosCommentWebhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "dhivehinoos-comment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "comment_approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "message": "New approved comment on \"{{ $json.article.title }}\"\n\n**Author:** {{ $json.comment.author_name }}\n**Content:** {{ $json.comment.content }}\n**Article URL:** {{ $json.article.url }}\n**Category:** {{ $json.category.name }}\n**Timestamp:** {{ $json.timestamp }}",
        "channel": "#moderation",
        "username": "Dhivehinoos Bot"
      },
      "id": "slack-node",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [680, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "comment_logs",
        "columns": "comment_id,article_id,article_title,author_name,content,category,created_at",
        "values": "={{ $json.comment.id }},{{ $json.article.id }},{{ $json.article.title }},{{ $json.comment.author_name }},{{ $json.comment.content }},{{ $json.category.name }},{{ $json.comment.created_at }}"
      },
      "id": "database-node",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Comment webhook processed successfully\",\n  \"comment_id\": {{ $json.comment.id }},\n  \"processed_at\": \"{{ $json.metadata.processed_at }}\"\n}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Dhivehinoos Comment Webhook": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "dhivehinoos-comment-workflow",
  "tags": []
}

